*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'gilroy';
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color:white;
}
#nav{
    height:100px;
    width:100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    padding: 0 30px;
}
nav h4{
    font-size: 20px;
    font-weight: 600;
}
#nav i{
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px;
    font-weight: 500;
    border-radius: 50px;
}
#center{
    width: 100%;
    /* background-color: red; */
    align-items: center;
    justify-content:center;
    padding: 0px 100px;
}
#center h1{
    font-size: 70px;
    /* font-size: 6.5vw; */
    font-weight: 500;
    line-height: 72px;
}
#center-in{
    height: 230px;
    /* background-color: white; */
    width:100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between ;
}
#center-in p{
    font-size: 30px;
    font-weight: 300;
    line-height: 3vw;
    /* width: 100%; */
}
#right{
    width: 25%;
}
.elem{
    padding: 20px 0;  
    border-top:2px solid black  ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.elem a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
}
.elem i{
    font-size: 30px;
    font-weight: 500;
    opacity: 0;
}
.elem:hover i{
    opacity: 1;
}
.elem:hover{
    background-color: rgb(247, 240, 240);
    text-decoration: underline;
}
#bottom{
    height: 100%;
    width: 100%;
    background-color: red;
    background-size: cover ;
    /* background-image: url(https://images.unsplash.com/photo-1617551307538-c9cdb9d71289?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8YmxhY2slMjBtb2RlbHxlbnwwfHwwfHx8MA%3D%3D); */
    background-position: 10% 20%;
    background-image: url(https://images.unsplash.com/photo-1544022613-e87ca75a784a?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    }

@media(max-width:600px){
    #nav{
        height:60px;
        width:100%;
        gap: 20px;
    }
    nav h4{
        font-size: 12px;
    }
    #nav i{
        font-size: 15px;
        padding: 12px;
    }
    #center{
        width: 100%;
        /* background-color: red; */
        /* align-items: center; */
        /* justify-content:center; */
        padding: 0px 20px;
    }
    #center h1{
        /* font-size: 80px; */
        font-size: 9.5vw;
        font-weight: 600;
        line-height: 9vw;
        margin-top: 10px;
    }
    #center-in{
        margin-top: 30px;
        flex-direction: column;
    }
    #center-in p{
        font-size: 3vw;
        font-weight: 600;
        line-height: 4vw;
        width: 100%;
    }
    #right{
        width: 100%;
    }
    .elem{
        padding: 8px 0; 
        margin-top: 8px;
        margin-bottom: 5px;
    }
    .elem a{
        font-size: 15px;
    }
    .elem i{
        color: #303030;
        font-size: 24px;
        opacity: 1;
    }
    .elem:hover i{
        opacity:1;
    }
    #bottom{
        height: 45%;
        width: 100%;
        background-size: cover ;
    /* background-image: url(https://images.unsplash.com/photo-1617551307538-c9cdb9d71289?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8YmxhY2slMjBtb2RlbHxlbnwwfHwwfHx8MA%3D%3D); */
        background-position: 0 20%;
        background-image: url(https://images.unsplash.com/photo-1544022613-e87ca75a784a?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    }
}